<div class="container">
  <h1>Exportação por montante de produto</h1>
  <div class="cards">
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>R$56 MM</p>
        <span
          >Montante mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
  </div>
</div>
