<div class="container">
  <h1>Exportação por países</h1>
  <div class="cards">
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="assets/img_eua.svg" alt="" />
      </div>
      <div class="country">
        <p>EUA</p>
        <span>Minério de ferro, Soja, petróleo, Carne bovina</span>
      </div>
      <div class="sold">
        <p>R$ 500K - R$ 700K</p>
        <span>por mês</span>
      </div>
      <div class="view-more">
        <button>Info</button>
      </div>
    </div>
  </div>
</div>
