<div class="container">
  <div class="logo">
    <div class="image-logo">
      <img src="assets/img-header.svg" alt="logo exporta mais" />
    </div>
    <h3>Exporta Mais</h3>
  </div>
  <div class="user-control">
    <div class="notification">
      <fa-icon [icon]="faBell" size="3x" class="faBell"> </fa-icon>
      <span>3</span>
    </div>
    <div class="user">
      <div class="photo-user">
        <img src="assets/photo-user.svg" alt="foto usuário" />
      </div>
      <div class="profile">
        <span>Eduardo Marra</span>
        <button class="btn-edit-profile">Editar perfil</button>
      </div>
    </div>
  </div>
</div>
