.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;

    h2 {
      font-size: var(--fontSize-xxlarge);
      line-height: var(--line-xxlarge);
    }

    .input-date {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      div {
        input {
          padding: 0.3rem;
          border: 1px solid var(--gray);
          border-radius: 3px;
        }
      }
    }
  }

  .grafic-sale {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;

    .sidebar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 2rem;

      .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 10rem;
        gap: 0.5rem;

        span {
          font-size: var(--fontSize-medium);
          line-height: var(--line-medium);
          color: var(--gray-300);
        }

        h2 {
          font-size: var(--fontSize-large);
          line-height: var(--line-large);
          color: var(--black);
        }
      }

      .card.small {
        opacity: 0.7;
        span {
          font-size: var(--fontSize-small);
          line-height: var(--line-small);
        }

        h2 {
          font-size: var(--fontSize-medium);
          line-height: var(--line-medium);
        }
      }
    }

    .chart-bar {
      width: 100%;
    }
  }
}
