.container {
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 0.5rem;
  height: 100%;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    h2 {
      font-size: var(--fontSize-xxlarge);
      line-height: var(--line-xxlarge);
    }

    .input-date {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      flex-wrap: wrap;

      input {
        padding: 0rem 0.5rem;
        border: 1px solid var(--gray);
        border-radius: 3px;
        outline: none;
      }
    }
  }

  .grafic-sale {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 3rem 0rem;
    /* display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 3rem;
      margin-top: 3rem;*/

    .sidebar {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      gap: 1rem;

      .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        h2 {
          font-size: var(--fontSize-medium);
          line-height: var(--line-medium);
          color: var(--gray-300);
        }

        span {
          font-size: var(--fontSize-large);
          line-height: var(--line-large);
          color: var(--black);
        }
      }
    }

    .chart-bar {
      canvas {
        height: auto;
        width: auto;
      }
    }
  }
}
