<div class="container shadow-container">
  <div class="wrapper">
    <h2>Ranking de exportação</h2>
    <div class="select-date">
      <select name="" id="" class="shadow-container">
        <option value="">Janeiro, 2024</option>
        <option value="">Fevereiro, 2024</option>
        <option value="">Março, 2024</option>
        <option value="">Abril, 2024</option>
        <option value="">Maio, 2024</option>
        <option value="">Junho, 2024</option>
        <option value="">Julho, 2024</option>
        <option value="">Agosto, 2024</option>
        <option value="">Setembro, 2024</option>
        <option value="">Outubro, 2024</option>
        <option value="">Novembro, 2024</option>
        <option value="">Dezembro, 2024</option>
      </select>
    </div>
    <div class="cards-ranking">
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>Holanda</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
      <div class="card-country">
        <div class="image-country">
          <img src="assets/img_eua.svg" alt="" />
        </div>
        <div class="total-value">
          <h3>EUA</h3>
          <span>R$ 7.9 B</span>
        </div>
      </div>
    </div>
  </div>
</div>
