<div class="container">
  <nav class="navigate-link">
    <ul>
      <li
        click-stop-propagation
        class="dashboard"
        [ngClass]="{ active: dashboard }"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faHouse" size="2x" class="faHouse"> </fa-icon>
        <span>Dashboard</span>
      </li>
      <li
        click-stop-propagation
        class="data"
        [ngClass]="{ active: data }"
        routerLink="/data"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faBriefcase" size="2x" class="faBriefcase"> </fa-icon>
        <span>Dados</span>
      </li>
      <li
        click-stop-propagation
        class="first-steps"
        [ngClass]="{ active: firstSteps }"
        routerLink="/steps"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faCalendar" size="2x" class="faCalendar"> </fa-icon>
        <span>Primeiros <br />Passos</span>
      </li>
    </ul>
  </nav>
  <div class="checkout">
    <fa-icon
      [icon]="faArrowRightFromBracket"
      size="2x"
      class="faArrowRightFromBracket"
    >
    </fa-icon>
    <span>Sair</span>
  </div>
</div>
