<div class="container">
  <h1>Exportação por porcentagem</h1>
  <div class="cards">
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
    <div class="card">
      <div class="product">
        <p>Madeira</p>
      </div>
      <div class="percent">
        <p>56%</p>
        <span
          >Porcentagem mês
          <source
        /></span>
      </div>
      <div class="total">
        <p>R$ 1.9B</p>
        <span
          >Montante total de exportações mês
          <source
        /></span>
      </div>
    </div>
  </div>
</div>
