<div class="container shadow-container">
  <div class="title">
    <h2>Porcentagem de venda</h2>
    <select name="months">
      <option value="janeiro" selected>Janeiro</option>
      <option value="janeiro">Fevereiro</option>
      <option value="janeiro">Março</option>
      <option value="janeiro">Abril</option>
      <option value="janeiro">Maio</option>
      <option value="janeiro">Junho</option>
      <option value="janeiro">Julho</option>
      <option value="janeiro">Agosto</option>
      <option value="janeiro">Setembro</option>
      <option value="janeiro">Outubro</option>
      <option value="janeiro">Novembro</option>
      <option value="janeiro">Dezembro</option>
    </select>
  </div>
  <div class="chart-doughnut">
    <div class="grafic-doughnut">
      <canvas id="doughnut" width="200" height="150"></canvas>
    </div>
    <div class="products">
      <div class="card-product">
        <span class="circle first"></span>
        <span>50%</span>
        <span>Madeira</span>
      </div>
      <div class="card-product">
        <span class="circle second"></span>
        <span>40%</span>
        <span>Carne</span>
      </div>
      <div class="card-product">
        <span class="circle third"></span>
        <span>35%</span>
        <span>Milho</span>
      </div>
      <div class="view-more">
        <a href="">Veja mais</a>
      </div>
    </div>
  </div>
</div>
